<div class="container center-align">
  <h1>Video Game Backlog</h1>
  <a href='/games/page/<%= params[:page_id].to_i - 1%>/'>Previous</a>
  <a href='/games/page/<%= params[:page_id].to_i + 1%>'>Next</a>

  <form method="get" action="/games/page/1">
    <input type="text" name="query" placeholder="Enter Title Here">
    <input class="waves-effect waves-light btn" type="submit" value="Search">
  </form>

  <table class="striped">
    <thead>
      <th>Game</th>
      <th>Title</th>
      <th>Platforms</th>
      <th>Info</th>
    </thead>
    <tbody>
  <% @games.each do |game| %>
      <tr>
        <td>
          <% if game['image']%>
          <img src="<%=game['image']["icon_url"]%>">
          <% end %>
        </td>
        <td><a href="/games/<%=game['id']%>"><%=game['name']%></a></td>
        <td>
        <% if game['platforms']%>
          <%=game['platforms'].map{ |platform| platform["name"] }.join(", ")%>
        <% end %>
        </td>
        <td><%=game['deck']%></td>
      </tr>
  <%end%>
</tbody>
</table>

</div>
